.pageNav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  color: var(--color-text-primary);
  padding-left: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.decorIcon {
  width: 5px;
  height: 5px;
  background-color: var(--color-text-primary);
}

.link {
  display: inline-block;
  border-radius: 6px;
  color: var(--color-text-primary);
  font-weight: 600;
  outline: none;
  transition:
    background-color 250ms linear,
    transform 250ms linear;
}

.link:focus,
.link:hover {
  background-color: var(--color-surface-hover);
  transform: translateX(4px);
}
