.nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.link {
  display: block;
  font-size: 22px;
}
